Flask>=3.0.0
Werkzeug>=3.0.0
Flask-SQLAlchemy>=3.1.0
Flask-Login>=0.6.3
Flask-Bcrypt>=1.0.1
Flask-Mail>=0.9.1
Flask-WTF>=1.2.0
SQLAlchemy>=2.0.0
python-dotenv>=1.0.0
pytz>=2024.1
razorpay>=1.4.1
mysql-connector-python>=8.3.0
PyMySQL>=1.1.0
reportlab>=4.1.0
openpyxl>=3.1.2
pdfkit>=1.0.0