<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>S S BAKERS</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="static/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Playfair+Display:wght@600;700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="static/css/style.css" rel="stylesheet">
</head>
<style>
    /* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; /* Light gray background */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b32071; /* Gradient color */
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b32071;
}

  </style>
<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid top-bar bg-primary text-dark px-0 " data-wow-delay="0.1s">
    <div class="row gx-0 align-items-center d-none d-lg-flex" style="height: 35px;"> <!-- Reduced height -->
        <!-- Left Section (Phone & Address) -->
        <div class="col-lg-6 px-3 text-start">
            <ol class="breadcrumb mb-0" style="font-size: 16px;font-family:'montserrat';"> <!-- Smaller font size -->
                <li class="breadcrumb-item mb-2"><a class="small text-white" href="#"><i class="fa fa-phone-alt"></i> &nbsp; +91 9892000533</a></li>
                <li class="breadcrumb-item mb-2"><a class="small text-white" href="#"><i class="fa fa-envelope"></i>&nbsp; info@ssbakers.com</a></li>
            </ol>
        </div>
        <!-- Right Section (Social Icons) -->
        <div class="col-lg-6 px-3 text-end">
            <div class="h-100 d-inline-flex align-items-center">
                <a class="btn-lg-square text-white border-end rounded-0" href="" style="font-size: 12px; padding: 5px 8px;"><i class="fab fa-facebook-f mb-2"></i></a>
                <a class="btn-lg-square text-white border-end rounded-0" href="" style="font-size: 12px; padding: 5px 8px;"><i class="fab fa-twitter mb-2"></i></a>
                <a class="btn-lg-square text-white border-end rounded-0" href="" style="font-size: 12px; padding: 5px 8px;"><i class="fab fa-linkedin-in mb-2"></i></a>
                <a class="btn-lg-square text-white pe-0" href="" style="font-size: 12px; padding: 5px 8px;"><i class="fab fa-instagram mb-2"></i></a>
            </div>
        </div>
    </div>
    </div>
    <!-- Topbar End -->


<!-- Navbar Start -->
 
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-0 px-lg-5 " style="background-color: white;">
    <a href="{{ url_for('home') }}" class="navbar-brand ms-4 ms-lg-0">
        <img src="static/img/SS_logo.jpg" style="height:80px;width: 80px;">
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0"> <!-- Align links to the left -->
            <a class="btn btn-link" href="{{ url_for('home') }}">Home</a>
            <a class="btn btn-link" href="{{ url_for('about') }}">About Us</a>
            <a class="btn btn-link" href="{{ url_for('cake_varity') }}">Cake Variety</a>
            <a class="btn btn-link" href="{{ url_for('gallery') }}">Gallery</a>
            <a class="btn btn-link" href="{{ url_for('our_outlet') }}">Our Outlet</a>
            <a class="btn btn-link" href="{{ url_for('contact') }}">Contact Us</a>
        
           <div>
        

           </div> 

        </div>
        <a class="btn-about py-2 px-3 me-3" href="{{ url_for('franchise') }}" style="font-family: 'montserrat';">
            FRANCHISE <i class="fa fa-store"></i>
            </a>
        
        <!-- Add to Cart and Login Icons on the Right -->
        <div class="d-none d-lg-flex ms-4">
            <!-- Add to Cart Icon -->
            <div class="d-inline-flex align-items-center me-3">
                <div class="flex-shrink-0 btn-lg-square border border-primary rounded-circle hover-icon">
                    <i class="fa fa-shopping-cart"></i> <!-- Add to Cart Icon -->
                </div>
            </div>
        
            <!-- Login Icon -->
            <div class="d-inline-flex align-items-center">
                <div class="flex-shrink-0 btn-lg-square border border-primary rounded-circle hover-icon">
                    <i class="fa fa-user"></i> <!-- Login Icon -->
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- Optional: You can add custom CSS here -->
<style>
    /* Navbar background color */
    .navbar-light {
        background-color: white !important;
    }

    /* Change the menu link color to dark */
    .navbar-nav .nav-link {
        color: #333 !important; /* Dark color for the menu links */
    }

    /* Change the color of the active link */
    .navbar-nav .nav-link.active {
        color:#b32071 !important; /* Highlight the active menu item */
    }

    /* Add hover effect on menu links */
    .navbar-nav .nav-link:hover {
        color:#b32071 !important; /* Orange color on hover */
    }
</style>
<!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid page-header py-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center pt-5 pb-3">
            <h1 class="display-4 text-primary animated slideInDown mb-3" style="color: #b32071;  font-family: 'Great Vibes', cursive;font-size: 35px; ">Contact Us</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a class="text-primary" href="{{ url_for('home') }}">Home</a></li>
                   
                    <li class="breadcrumb-item text-primary active" aria-current="page">Contact</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->

    <div class="four" style="margin-top: -47px;">
        <h4 style="color: 
#b32071;"><span style="color:black;">  </span>  Get In Touch With SS Bakers</h4>
      </div>
    <!-- Contact Start -->
  <style>
    .btn1
    {
        background-color: #b32071;
    width: 100%;
    color: white;
    height: 53px;
    border-radius: 5px;
    border: 1px solid #b32071;
    }
    .btn1:hover{
        background-color: white;
        border: 1px solid #b32071;
        color: #b32071;
    }
    .map{
        width: 500px;
        height:350px;
    }
    @media only screen and (max-width:768px) {
        .map{
        width: 320px;
        height:350px;
    }
        }
  </style>

<a id="contact">
    
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s" style="margin-top: -30px;">
        <div class="container py-5">
            <div class="row g-5">

            {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

                <!-- Contact Form -->
                <div class="col-lg-6 wow slideInUp" data-wow-delay="0.3s">
                    <form action="{{ url_for('contact') }}" method="post">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <input type="text" class="form-control px-4" name="fname" id="fname" placeholder="Your Name" required style="height: 55px; background-color: rgb(236, 236, 236);">
                            </div>
                            <div class="col-md-6">
                                <input type="number" class="form-control px-4" name="phone" id="phone" placeholder="Your Phone" style="height: 55px; background-color: rgb(236, 236, 236);">
                            </div>
                            <div class="col-12">
                                <input type="email" class="form-control px-4" name="email" id="email" placeholder="Your Email" style="height: 55px; background-color: rgb(236, 236, 236);">
                            </div>
                            <div class="col-12">
                                <textarea class="form-control px-4 py-3" rows="4" placeholder="Message" name="message" id="message" style="background-color: rgb(236, 236, 236);"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn1" type="submit" name="send">SEND MESSAGE</button>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Google Map -->
                <div class="col-lg-6 wow slideInUp" data-wow-delay="0.3s">
                    <div class="map mb-3">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d60281.033643884795!2d73.01473451215065!3d19.214210197944663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s%20504%2C%20Atye%20Avenue%2C%20Tondon%20Cross%20Road%2C%20%20%20%20%20%20%20%20%20Opp.%20IDBI%20Bank%2C%20Ramnagar%2C%20Dombivli%20%20%20%20%20%20%20%20%20%20%20%20East%2C%20Pin-421201!5e0!3m2!1sen!2sin!4v1744176300089!5m2!1sen!2sin" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

            </div>
        </div>
    </div>
</a>
                       </a>
        <!-- Contact End -->


    
<!-- Footer Start -->
<div class="container-fluid  text-light footer my-6 mb-0 py-3 wow fadeIn" data-wow-delay="0.1s" style="   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('static/img/ss_footer.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;">
    <div class="container py-5">
        <div class="row g-5">
            <!-- About SS Bakers -->
            <div class="col-lg-3 col-md-6">
                <h4 class=" mb-4" style="font-size:18px;color: white;font-family:'montserrat';">About SS Bakers</h4>
                <p style="color: white;">At <b>SS Bakers,</b> we create delightful cakes and confections for every occasion. With our passion for baking, we ensure each creation is as memorable as your special moments.</p>
            </div>
            
            <!-- Quick Links -->
<div class="col-lg-3 col-md-6">
    <h4 class="mb-4" style="font-size:18px;color: white;font-family:'montserrat';">Quick Links</h4>
    <a class="btn btn-link" href="{{ url_for('home') }}">Home</a>
    <a class="btn btn-link" href="{{ url_for('about') }}">About Us</a>
    <a class="btn btn-link" href="{{ url_for('cake_varity') }}">Cake Variety</a>
    <a class="btn btn-link" href="{{ url_for('gallery') }}">Gallery</a>
    <a class="btn btn-link" href="{{ url_for('our_outlet') }}">Our Outlet</a>
    <a class="btn btn-link" href="{{ url_for('contact') }}">Contact Us</a>
</div>

<!-- Services Links -->
<div class="col-lg-3 col-md-6">
    <h4 class="mb-4" style="font-size:18px;color: white;font-family:'montserrat';">Our Services</h4>
    <a class="btn btn-link" href="{{ url_for('contact') }}">Chocolate Cakes</a>
    <a class="btn btn-link" href="{{ url_for('contact') }}">Wedding Cakes</a>
    <a class="btn btn-link" href="{{ url_for('contact') }}">Custom Cakes</a>
    <a class="btn btn-link" href="{{ url_for('contact') }}">Anniversary Cakes</a>
    <a class="btn btn-link" href="{{ url_for('contact') }}">Corporate Cakes</a>
    <a class="btn btn-link" href="{{ url_for('contact') }}">Baby Shower Cakes</a>
</div>

            <!-- Address -->
            <div class="col-lg-3 col-md-6">
                <h4 class=" mb-4" style="font-size:18px;color: white;font-family:'montserrat';">Office Address</h4>
                <p class="mb-2" style="color: white; text-align: left;">
                  <i class="fa fa-map-marker-alt me-3" style="color:white;"></i>
                  <a href="https://www.google.com/maps?q=Plot+No+A-115,+Infinity+Business+Park,+Gala+no+305,+MIDC,+Thane,+Mumbai,+Maharashtra" target="_blank" style="color: white; text-decoration: none;">
                    Plot No A-115, Infinity Business Park, Gala no 305 MIDC, Thane, Mumbai, Maharashtra, Mumbai.
                  </a>
                </p>
                
                <p class="mb-2" style="color: white;">
                  <i class="fa fa-phone-alt me-3" style="color:white;"></i>
                  <a href="tel:+9892000533" style="color: white; text-decoration: none;">+ 9892-000-533</a>
                </p>
                
                <p class="mb-2" style="color:white;">
                  <i class="fa fa-envelope me-3" style="color: white;"></i>
                  <a href="mailto:info@ssbakers.com" style="color: white; text-decoration: none;">info@ssbakers.com</a>
                </p>
                
                <div class="d-flex pt-2">
                    <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-twitter" style="color:white;"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-facebook-f" style="color: white;"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-youtube" style="color: white;"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-0" href=""><i class="fab fa-linkedin-in" style="color:white;"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->


    <!-- Copyright Start -->
    <div class="container-fluid copyright text-light py-4 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center  mb-3 mb-md-0">
                    &copy; <a href="#"></a> SS Bakers. All Rights Reserved. Powered By  <a href="https://sednainfosystems.com/webdev.html">Sedna.</a>
                 
                </div>
              
            </div>
        </div>
    </div>
    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn-about btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/lib/wow/wow.min.js"></script>
    <script src="static/lib/easing/easing.min.js"></script>
    <script src="static/lib/waypoints/waypoints.min.js"></script>
    <script src="static/lib/counterup/counterup.min.js"></script>
    <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="static/js/main.js"></script>
</body>

</html>